<h2>Új kérdés hozzáadása</h2>

<form action="/kerdes" method="POST" class="tema-form">
    <div class="form-group">
        <label for="nev">Kérdés:</label>
        <input type="text" id="nev" name="nev" required>
        <% if (locals.error) { %>
            <p class="error-message"><%= locals.error %></p>
        <% } %>
        <input type="text" id="k1" name="k1" required><input type="radio" name="correctIndex" value="0">
        <input type="text" id="k2" name="k2" required><input type="radio" name="correctIndex" value="1">
        <input type="text" id="k3" name="k3" required><input type="radio" name="correctIndex" value="2">
        <input type="text" id="k4" name="k4" required><input type="radio" name="correctIndex" value="3">
    </div>
    
    <div class="button-group">
        <button type="submit" class="submit-btn">Mentés</button>
        <a href="/kerdes" class="cancel-btn">Mégsem</a>
    </div>
</form>