nav {
  display: flex;
}
nav a {
  margin-left: 8px;
}

nav a:first-of-type {
  margin-left: 0;
}

.left-auto {
  margin-left: auto;
}

body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
  }

  
form {
  display: inline;
}
  
  form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }

  h2 {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #0066cc;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

tr:hover {
    background-color: #f9f9f9;
}

button {
  padding: 6px 12px;
  background-color: #e53935;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #d32f2f;
}

