<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>Bejelentkezés</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Bejelentkezés</h1>
    <form action="/login" method="POST">
        <label for="usernameOrEmail">Felhasználónév vagy Email:</label>
        <input type="text" id="usernameOrEmail" name="usernameOrEmail" required>
  
        <label for="password">Jelszó:</label>
        <input type="password" id="password" name="password" required>
  
      <button type="submit" class="btn">Bejelentkezés</button>
    </form>
</body>
</html>